<div class="card card-block login-card1">
    <div class="searchbtn">
        <button type="button" >Search</button>
        <button type="button" >Add Config</button>
        <button type="button" >Delete Config</button>
        <button type="button" >Copy Config</button>
        </div>  
        <br>
    <h3 class="form-label">Search:</h3>
    <form>
        <label for="ReportName" class="reportname">Report Name:</label>
        <select name="ReportName" id="ReportName" >
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
  <br><br>
    </form>
    <form>
        <label for="Copyto" class="Copyto">Copy to: </label>
        <select name="Copyto" id="Copyto">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
  <br><br>
    </form>
  </div>

  <div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
<div>
    <table class="result-table">

        <thead>
            <tr>
                <th class="pl-15">Dim ID</th>
                <th>Group ID</th>
                <th>Rep ID</th>
         
                <!-- <th>Report View</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ReportConfig of reportConfigs | paginate : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
            };
                      let i = index" 
                      [class.active]="i == currentIndex" 
                      (click)="setActiveReportConfig(ReportConfig, i)">

                <td class="pl-15">{{ ReportConfig.dimId }}</td>
                <td>{{ ReportConfig.configGroupId }}</td>
                <td>{{ ReportConfig.dimValue }}</td>
 
            </tr>
        </tbody>
    </table>
</div>



<!-- <div class="container">
  <table>
    <ul>
        <li 
        class="list-group-item" 
        *ngFor=
        "let ReportConfig of reportConfigs ;
        let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveReportConfig(ReportConfig, i)">
        <div class="report table">
            <label><strong>ID:</strong></label> {{ ReportConfig.CONFIGID }}
        </div>
        <div>
            <label><strong>Dimension Start Col:</strong></label>
            {{ ReportConfig.dimensionsStartCol }}
        </div>
        <div>
            <label><strong>Dimension Start Row:</strong></label>
            {{ ReportConfig.dimensionsStartRow }}
        </div>
        <div>
            <label><strong>Dimension Length:</strong></label>
            {{ ReportConfig.dimensionLength }}
        </div>
        <div>
            <label><strong>Format Type:</strong></label>
            {{ ReportConfig.formatType }}
        </div>
        <div>
            <label><strong>Post Title:</strong></label>
            {{ ReportConfig.postTitle }}
        </div>
        <div>
            <label><strong>C Map ID:</strong></label>
            {{ ReportConfig.cmapId }}
        </div>
        <div>
            <label><strong>Dim ID:</strong></label>
            {{ ReportConfig.dimId }}
        </div>
        <div>
            <label><strong>Dim Value:</strong></label>
            {{ ReportConfig.dimValue }}
        </div>
        <div>
            <label><strong>Group ID:</strong></label>
            {{ ReportConfig.configGroupId }}
        </div>
        <div>
            <label><strong>Added By:</strong></label>
            {{ ReportConfig.addedBy }}
        </div>
        <div>
            <label><strong>Modified By:</strong></label>
            {{ ReportConfig.modifiedBy }}
        </div>
        <div>
            <label><strong>Status:</strong></label>
            {{ ReportConfig.status }}
        </div>
        <div>
            <label><strong>Deleted By:</strong></label>
            {{ ReportConfig.deletedBy }}
        </div>
        <div>
            <label><strong>Grouped:</strong></label>
            {{ ReportConfig.grouped }}
        </div>
        <div>
            <label><strong>Group Order:</strong></label>
            {{ ReportConfig.groupOrder }}
        </div>
        <div>
            <label><strong>Excel Column:</strong></label>
            {{ ReportConfig.excelColumn }}
        </div>
        <div>
            <label><strong>Excel Row:</strong></label>
            {{ ReportConfig.excelRow }}
        </div>
        <div>
            <label><strong>dim Rep ID:</strong></label>
            {{ ReportConfig.dimRepId }}
        </div>
        </li>
    </ul>
</table>
</div> -->