<div class="card card-block login-card1">
    <div class="searchbtn">
        <button type="button" >Search</button>
        <button type="button" >Add Config</button>
        <button type="button" >Delete Config</button>
        <button type="button" >Copy Config</button>
        </div>  
        <br>
    <h3 class="form-label">Search:</h3>
    <form>
        <label for="ReportName" class="reportname">Report Name:</label>
        <select name="ReportName" id="ReportName">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
  <br><br>
    </form>
    <form>
        <label for="Copyto" class="Copyto">Copy to: </label>
        <select name="Copyto" id="Copyto">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
  <br><br>
    </form>
  </div>