<form name="adminReportSearchForm" method="post" action="/webrptportal/adminRepSearchLoad.rtf">
    <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td>
                    <table class="tablewidth_850" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <h1>
                                    Report Search
                                </h1>

                            </tr>
                        </tbody>
                    </table>

                    <table cellspacing="0" cellpadding="0" class="tablewidth_850" align="right">
                        <tbody>
                            <tr>
                                <td class="tablecaption">

                                </td>
                                <td class="tablecaption"></td>
                                <td class="tablecaption">


                                    <button class="btn btn-success" routerLink="/splash" routerLinkActive="active">
                                        X
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tablewidth_850">
                        <tbody>
                            <tr>
                                <td width="85">
                                    <span class="label">Report Name:</span>
                                </td>
                                <td>
                                    <input type="text" 
                                    class="form-control" 
                                    name="ReportName" 
                                    placeholder="Search by Report"
                                    maxlength="9" 
                                    [(ngModel)]="currentReport.reportName">
                                </td>
                            </tr>
                            <tr>
                                <td width="85">
                                    <span class="label">Title Name:</span>
                                </td>
                                <td>
                                    <input type="text" 
                                    name="title" 
                                    value=""
                                    placeholder="Search by Title">
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <td>
                                    <button class="btn btn-success" routerLink="/addReport" routerLinkActive="active">
                                        Add Report
                                    </button>
                                </td>

                                <td>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" 
                                            type="button"
                                            (click)="searchReport()">
                                            Search Reports
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <br><br>
            <tr>
                <td>
                    <table class="tablewidth_850">
                        <tbody>
                            <tr>
                                <td class="tablecaption">
                                    <h1>Results:</h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>


    </table>

    <div class="col-md-12">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    <div class="result-table">
        <table>

            <thead>
                <tr>
                    <th class="pl-15">Report Name</th>
                    <th>AS400</th>
                    <th>Status</th>
                    <th>Spool Report</th>
                    <th>Skip Pages</th>
                    <th>Creation Date</th>
                    <!-- <th>Report View</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Report of reports | paginate : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                };
                          let i = index" 
                          [class.active]="i == currentIndex" 
                          (click)="setActiveReport(Report, i)">

                    <td class="pl-15">{{ Report.reportName }}</td>
                    <td>{{ Report.as400Id }}</td>
                    <td>{{ Report.status }}</td>
                    <td>{{ Report.nonSpoolFile }}</td>
                    <td>{{ Report.skipPages }}</td>
                    <td>{{ Report.creationDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>



    <input type="hidden" name="Option">

</form>